[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#review_container{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#review_container #reviews_form button{
    background-color: #3f51b5;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    border:none;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
} 
#reviews_form{
    background-color: #00abe5;
}
#reviews_form h2{
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
    color:  #3f51b5;
}
#review_container > div .review_star{
    font-size: 3rem;
    color: #ffc107;
    cursor: pointer;
}
.average_star{
    font-size: 2rem;
    color: #bb9e46;
}
#reviews_title, #average_title, #comments_title{
    margin-top: 1rem;
    //border-top: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0;
    color: #965896;
}

#reviews_title, #average_title{
   border-top: 1px solid #ddd;
}

#average_title {
    padding-bottom: 0px;
}

.reviews_stats_row {
    display: flex;
    margin-bottom: .5rem;
}

.reviews_stats_row_stars, .reviews_stats_row_count{
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 20px;
    color: #bb9e46;
}

.reviews_stats_pass {
    --star-persentage: 0%;
    flex-grow: 1;
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(to right, #bb9e46 var(--star-persentage), white var(--star-persentage));
    background-clip: content-box;
}

input[type="text"]{
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.view_comments{
    background-color: rgb(255, 152, 0);
    padding-bottom: 1rem;
}
.comment {
    width: 50%;
    background-color: #eee;
    margin: 0 auto;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 7px;
    word-wrap: break-word;
}

#review_view {
    width: 50%;
    margin: 0 auto;
}

#comments_title {
    color: #3f51b5;
}
